[build]
  publish = "."

[build.processing]
  skip_processing = false

[build.processing.html]
  pretty_urls = true

[[redirects]]
  from = "/index.html"
  to = "/"
  status = 301

[[redirects]]
  from = "/en/index.html"
  to = "/en/"
  status = 301

[[redirects]]
  from = "/ru/index.html"
  to = "/ru/"
  status = 301
